@charset  "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow: hidden;
}

header{
    background-color: aqua;
    width:100vw;
    height: 100px;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    right: 100px;
}

.Menu{
    background-color: black;
    height: 4px;
    width: 30px;
    border: 2px solid white
}

.nav-list{
    background-color: lightgray;
    display: flex;
    margin-top: 359px;
    padding: 10px;
    position: absolute;
    right: -150px;
    transition: 0.5s;
    
}

.menu-nav-list{
    right: 44px !important;
}
