@charset  "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow: hidden;
}

header{
    background-color: aqua;
    width:100vw;
    height: 100px;
    display: flex;
    align-items: center;
}

h1{
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}

.menu{
    position: absolute;
    right: 0px;
    padding: 10px;
    
}

.Menu{
    background-color: black;
    height: 4px;
    width: 30px;
    border: 2px solid white
}

.nav-list{
    background-color: rgba(211, 211, 211, 0.402);
    display: flex;
    margin-top: 619px;
    padding: 10px;
    position: absolute;
    right: -150px;
    display: none;
    transition: 2s;
}

ul{
    list-style: none;
}

li{
    padding: 10px;
}

.menu-nav-list{
    right: 0px !important;
    display: block;
    transition: 2s;
}

section{
    background-color: lightgray;
    height: 100vh;
    margin: auto;
    
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

p{
    margin: 10px;
    font-size: 1.5em;
}